h4 {
    text-align: left;
    margin-top: 10px;
}

.footer {
    position: absolute;
    background-color: #062b4a;
    color: #b0b6b9;
    z-index: 1;
    width: 100%;
}

.footer a {
    color: #fff;
}

.footer .social-links li a {
    color: #fff;
    font-size: 25px;
    text-align: center;
}

.footer .social-links li {
    display: inline-block;
    margin: 4px 50px 4px 0px;
}

.footer .social-links {
    list-style: none;
    margin: 3px 8px;
    border-bottom: 1px solid #b0b6b9;
    border-top: 1px solid #b0b6b9;
}

.btn-submit:hover, .btn-submit:focus {
    background-color: white;
    color: #062b4a;
    border: 1px;
}

.btn-submit {
    padding: 10px 8px;
    border-radius: 50px;
    text-transform: uppercase;
    background-color: #062b4a;
    color: #fff;
}

.btn-submit i {
    padding-left: 10px;
}

.btn {
    padding: 8px 25px;
}

.list-unstyled {
    border-bottom: 7px solid #b0b6b9;
    border-top: 7px solid #b0b6b9;
}

@media only screen and (max-width: 500px) {
    body {
        overflow: scroll;
    }
}