.mastert {
    background-image: url("../img/bg_r_1.png");
    background-repeat: repeat-x;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    /* For IE8 and earlier */
}

/* Add some content at the bottom of the video/page */

.banner {
    position: fixed;
    bottom: 0;
    color: #f1f1f1;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.large {
    width: 100%;
    padding-left: 0px;
    padding-right: 0px;
}

/* Style the button used to pause/play the video */

@media (min-width: 576px) {
    .row col {}
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    ...
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    ...
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    ...
}