/* display this row with flex and use wrap (= respect columns' widths) */

.row-flex {
    display: flex;
    flex-wrap: wrap;
}

/* vertical spacing between columns */

[class*="col-"] {
    margin-bottom: 30px;
}

.content {
    height: 100%;
    padding: 20px 20px 10px;
    color: #fff;
}

/* Demo backgrounds and styling*/

.colour-1 {
    background: #483C46;
    color: #fff;
}

.colour-2 {
    background: #3C6E71;
}

.colour-3 {
    background: #70AE6E;
}

.colour-4 {
    background: #82204A;
}

.colour-5 {
    background: #558C8C;
}

.colour-6 {
    background: #917C78;
}

body {
    padding: 20px 0;
    font-family: Roboto, sans-serif;
}

.content h3 {
    margin-top: 0px;
    font-weight: 300;
}

h1 {
    font-weight: 300;
    margin-bottom: 40px;
}

// Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    ...
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    ...
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    ...
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
    ...
}